.foo{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 30px;
    background-color: #221d23;
    color: #fff;
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        margin: 0;
        li{
            padding: 0 10px;
        }
    }
}

// Medias Querys
@media (max-width: 767px) {
    .foo{
        padding: 30px 0 30px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        ul{
            justify-content: space-evenly;
            padding: 0;
        }
        &__copy{
            padding: 10px 0;
        }
    }
}