.bg-header{
    background: url('../../assets/img/bg-hero.svg') no-repeat;
    width: 100%;
    background-size: cover;
    height: 0;
    padding: 0;
    background-position: right;
    padding-bottom: calc(100% * 2 / 3);
    &__contenido{
        padding: 50px 0;
        width: 40%;
    }
}

// Medias Querys
@media (max-width: 991px) {
    .bg-header{
        &__contenido p{
            font-size: $small;
            line-height: 20px;
        }
    }
}
@media (max-width: 767px) {
    .bg-header{
        height: 100%;
        background-size: auto 80%;
        background-position: center;
        padding-bottom: calc(100% * 4 / 5);
        &__contenido{
            width: 90%;
            padding: 0;
        }
    }
}
