//Esquema de Colores
$white: #fff;
$platinum: #E8E8E8;
$gray: #bababa;
$darksalmon: #ee9480;
$melon: #f4baae;
$palepink: #fadfda;
$ballblue: #2ab7ca;
$middleblue: #77d1dd;
$bluelagoon: #b1e4eb;
$onyx: #333745;
$spanishgray: #8f9199;
$lavendergray: #c7c8cc;
$raisingblack: #221d23;
$nickel: #726f73;
$silverchalice: #aeacaf;

//Tipografias
$raleway:'Raleway', sans-serif;
$opensans:'Open Sans', sans-serif;

//Pesos de fuentes
$regular: 400;
$bold: 700;

//Tamaños de fuentes
$xxxxx-large: 70px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
